<!DOCTYPE html>

    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />

<h3>Welcome to StackUP, <%= @user.email.split("@")[0] %>! </h3>
<p>Thank you for joining. Let's start building your coder cred today!</p>
