<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
<p>Welcome to StackUP <%= @user.email.split("@")[0] %> </p>
  </body>
</html>