 <% if flash[:notice] %>
    <div class="notice"><%= flash[:notice] %></div>
  <% end %>

<p>Welcome to StackUP <%= @user.email.split("@")[0] %> </p>
<p> You have successfully signed up! Please expect your first email digest to appear ...<p>