  <title>About</title>
  <h1>What is StackUp?</h1>
  <div class="container-fluid col-md-pull-1">
    <ul class="text-left">
     <h3 class="lighter-text"> <li>StackUp is a web-based solution providing integration with Stack Overflow. StackUp enables users to seamlessly build coder credit by receiving up-to-date, unanswered questions on a daily basis in their inbox.</li>

      <li>StackUp has built-in algorithms, enhancing user experience through automating the question selection process and providing users custom-picked questions to meet their qualifications.</li>

      <li>Through streamlining the process of answering questions posted to Stack Overflow, StackUp increases the likelihood of questions receiving answers, significantly adding points to users' reputation, while also improving the coding community in general.</li>
      <li> StackUp is powered by Ruby on Rails, and utilizes Action Mailer for many of its automated tasks, such as email digest functionality.</li>
   </h3>
  </ul>
  </div>