<div class="centered">
 <h1 classs="huge">Coder Cred Made Easy.</h1>
  <p >Receive unanswered Ruby questions from Stack Overflow in your inbox every day.</p>

  <a><div class="notice text-left"></div></a>
  
 <%= link_to image_tag("https://assets-cdn.github.com/images/modules/contact/heartocat.png"), "/auth/github"%>
 <br>
  Sign in with Github
</div>

<!-- link_to image_tag("https://assets-cdn.github.com/images/modules/contact/heartocat.png", :border => 0), {:action => 'search', :controller => 'pages'}, {:class => 'dock-item'} -->