<p>Welcome to stackUP, a free service that sends unanswered Ruby questions from Stack Overflow to your inbox every day. Sign up below.
 </p>
  <%= form_for @user do |f| %><br>
    $ Please enter your email: <%= f.text_field :email, placeholder: " ", autofocus: true %>
    <br>
    <br>
  
<% end %>
