 <h1>Coder Cred Made Easy.</h1>
            <p>Receive unanswered Ruby questions from Stack Overflow in your inbox every day.</p>
<title>StackUp</title>

<%= form_for @user do |f| %><br>
  Please enter your email:<br>
   <%= f.text_field :email, placeholder: " ", autofocus: true %>
  <% end %>