


  <div class="centered">
  <h1>Meet Team StackUp</h1><br>
     <div class="span4-left">
        <a href="#"><%= image_tag "jimmy.jpg" %></a>
          <h3>Jimmy </h3>
          <h3>Kuruvilla</h3>
          <h4>Student @ The Flatiron School</h4>
           <p class="span4">Jimmy left a career as an environmental engineer to pursue web development. He enjoys spending time with his family and visiting nature preserves and zoos.</p>

     </div>
      <div class="span4-left">
          <a href="#"><%= image_tag "seema.jpg" %></a>
          <h3>Seema </h3>
          <h3>Shariat</h3>
          <h4>Student @ The Flatiron School</h4>
           <p class=" span4">Seema has always held positions doing web front end work. She is currently expanding her knowledge of server side work in Rails.</p>
     </div>
      <div class="span4-left">
          <a href="#"><%= image_tag "don.png" %></a>
          <h3>Don </h3>
          <h3>Allison</h3>
          <h4>Student @ The Flatiron School</h4>
           <p class=" span4">Don studied analytic philosophy at Duke and turned to web development after a stint working for the DoD. </p>
        
     </div>
</div>
