  <title>About</title>
  <h1>Meet Team StackUp</h1>

     <h3 class="text-left lighter-text"> StackUp is comprised of a talented team of back and front-end engineers:</h3>
  <div class="container row-fluid">

     <div class="span4-left">
        <a href="#"><%= image_tag "jimmy.jpg" %></a>
          <h3>Jimmy Kuruvilla</h3>
          <h4>Backend Engineer</h4>
           <p class="text-left span4">Jimmy is currently focused on developing a Ruby on Rails skill set at the Flatiron School in New York City. He spends most of his weekends with his family visiting nature preserves on Long Island.</p>

     </div>
      <div class="span4-left">
          <a href="#"><%= image_tag "seema.jpg" %></a>
          <h3>Seema Shariat</h3>
          <h4>Web Developer</h4>
           <p class="text-left span4">Seema is currently focused on developing a Ruby on Rails skill set at the Flatiron School in New York City. She spends most of her weekends with her cats in Brooklyn.</p>
     </div>
      <div class="span4-left">
          <a href="#"><%= image_tag "don.png" %></a>
          <h3>Don Allison</h3>
          <h4>Software Engineer</h4>
           <p class="text-left span4">Don grew up in Massachusetts and later studied analytic philosophy at Duke. He is currently building his web development skills at the Flatiron School.</p>
        
     </div>
</div>
