/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *

 *= require bootstrap
 *= require bootstrap.min
 *= require jquery-ui
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.eot"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.woff"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.ttf"
 //= depend_on_asset "bootstrap/glyphicons-halflings-regular.svg"
 *= require_tree .

 */
/*  *= require_self*/

@import "bootstrap";
/* Some Style from the Bootstrap Default Theme */
/*These two mimic the themes styling for the admin buttons*/

.span4-left {
  float: left;
  margin-left: 6.5%;
  border: 5px solid #F3535D;
  width: 25%;
}


.notice {
    color: red;
    display: none;
}

.row{
  display: none;
    margin-left: 0px;
    margin-right: 0px;
    background-color: white;
      width: 100%;
      height: inherit;
}

.col-lg-12{
  height: inherit;
  width: 100%;
}
.pad-left{
    height: inherit;
  width: 100%;
}

ol{
      height: inherit;
  width: 100%;
}
html{
  height: 100%;
}

body {
  padding-top: 50px;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 100%;
  background-color: black;
/*  background: url(trees.jpg)*/
}

nav {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

.page {
  background-color: white;
  height: 100%;
  padding-left: 5%;
  padding-right: 5%;
}



.centered {
  padding-top: 50px;
  position: fixed;
  top: 50%;
  left: 50%;
  text-align: center;
  /* bring your own prefixes */
  transform: translate(-50%, -50%);
}

.huge{
  font-size: 250%;
}


select{
  color: #000;
  background-color: #F3535D ;
}