// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.pad-left{
  padding-left: 2%;
}

.float-left{
  float:left;
}
#user_email,
{
  float:left;
  color: #000;
  background-color: inherit;
  border: 3px;
  width: 100%;
}

