// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/





body > div > div > div > div > div > a > img{
  padding-top: 5%;
  padding-left: 5%;
  padding-right: 5%;
  color: #000;
  height:auto;
  width:100%;
  max-width:300px;
}
/*octocat*/
body > div > div > div > div > a > img{
  max-width:100px;
}

.indent {
 margin-left: 2%;
 font-size: .9em;
}

.ui-accordion-header{
   background:#F3535D;
   color: black;
}

